[package]
name = "trait_ac"
version = "0.1.0"
edition = "2024"

[dependencies]
rand = "0.8"
rayon = "1.8"
bitvec = "1.0"
serde = { version = "1.0", features = ["derive"] }
toml = "0.8"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
debug = true
